<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :player_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :player_last_name %>
  </div>

  <div class="field">
    <%= form.label :player_id, 'Player ID' %>
    <%= form.text_field :player_id, id: :player_player_id %>
  </div>

  <div class="field">
    <%= form.label :birth_year %>
    <%= form.text_field :birth_year, id: :player_birth_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
